body {
  background-color: white;
  color: #001100;
  font-family: ubuntu, helvetica, sans-serif;
}
.logo {
  width: 125px;
}
a {
  text-decoration: none;
  font-weight: bold;
}
.content {
  margin: 0px;
  padding: 0px;
  width: 100%;
  color: #001100;
  background-color: white;
}
.UIButton {
  color: white;
  font-weight: bold;
  background-color: #005908;
  border-radius: 0.2em;
  padding: 0.5em;
  border: 0px solid white;
  width: 125px;
}
.privkey {
  color: lime;
  border: 1px solid lime;
  background-color: #663300;
  word-wrap: break-word;
  font-family: monospace;
  text-align: center;
  padding: 0.5em;
}
.address {
  color: lime;
  border: 1px solid lime;
  background-color: #003300;
  word-wrap: break-word;
  font-family: monospace;
  text-align: center;
  padding: 0.5em;
}
.UITextField {
  width: 100%;
  margin: 1em;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #005908;
  color: #005908;
}
.loginimage {
  width: 128px;
  margin-bottom: -24px;
  padding-bottom: -24em;
}
.logindiv {
  background-color: #f2f2f2;
}
