body {
  background-color: white;
  color: #999999;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
}
a {
  text-decoration: none;
  color: #00ff44;
  font-weight: bold;
}
a:hover {
  color: green;
  text-decoration: none;
}
li, h3, h1 {
  text-decoration: underline;
  text-decoration-color: #00ff44;
}
#navbar {
  color: black;
  width: 100%;
  z-index: 1000;
  padding: 0.8em;
  border-bottom: 1px solid white;
  text-align: center;
  font-size: 25px;
  background-color: #ccffcc;
}
#navbar ul {
  list-style-type: none;
  width: 100%;
  padding: 0px;
  margin: 0px;

}
#navbar ul li {
  display: inline;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.navlink {
  color: black;
  font-weight: bolder;
}
.content {
  text-align: center;
  color: #001100;
  opacity: 0.95;
  width: 100%;
  margin-bottom: 1em;
}

.UIButton {
  background-color: #005500;
}
@media (min-width: 1px) {
  .maincontainer {
    background-image: url("img/homebgmobi.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
@media (min-width: 992px) {
  .maincontainer {
    background-image: url("/img/homebg.png");
    background-size: cover;
    margin: 0px;
    width: 100%;
    left: 0px;
    right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 8em;
    padding-bottom: 8em;
  }
}
.maintext {
  color: black;
  font-weight: bold;
  vertical-align: middle;
}
